.App {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

.App-dark {
  background-color: #282c34;
  min-height: 100vh;
  color: #ffffff;
}

.App-light {
  background-color: #ececec;
  color: #161616;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.separator {
  height: 1px;
  background-color: #bbbbbb;
}

.App-header {
  background-color: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.main {
  flex: 10;
  width: 100%;
}

input,
textarea {
  background-color: inherit;
  border: none;
  color: #ffffff;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.material-icons-outlined,
.material-icons.material-icons--outlined,
.material-icons-two-tone,
.material-icons.material-icons--two-tone,
.material-icons-round,
.material-icons.material-icons--round,
.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
  font-family: 'Material Icons Two Tone';
}

.material-icons-round,
.material-icons.material-icons--round {
  font-family: 'Material Icons Round';
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-family: 'Material Icons Sharp';
}

.material-icons.md-18,
.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons.md-24,
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons.md-36,
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons.md-48,
.material-icons-outlined.md-48 {
  font-size: 48px;
}
