.color-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #272727;
  position: absolute;
  bottom: 38px;
  height: 90px;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  padding: 8;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.color {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 99px;
  margin: 2px 0px;
  border: 2px solid #bbbbbb;
}
