.navbar {
  flex: 2;
  padding: 16px 0px;
  display: none;
}

.navbar-hidden {
  display: none;
}

.list-item {
  display: flex;
  margin: 8px 0px;
}

.list-item-active,
.list-item:hover {
  background-color: #e67b7b;
  border-radius: 0px 10px 10px 0px;
}

.list-icon {
  margin: 16px;
}

.list-title {
  align-self: center;
  font-size: 16px;
}

@media screen and (min-width: 720px) {
  .navbar {
    display: block;
  }
}
