.note {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  position: relative;
}

.note-tag {
  padding-left: 8px;
  font-size: 12px;
}

.note-title {
  margin: 8px;
  font-size: 18px;
  font-weight: 600;
  overflow-wrap: break-word;
}

.note-content {
  margin: 8px;
  font-size: 14px;
  overflow-wrap: break-word;
}

.note-actions {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  min-height: 28px;
}

.note-image {
  display: block;
  margin: 8px auto;
  width: 95%;
}

.note-image-container {
  position: relative;
}

.note-image-remove {
  position: absolute;
  right: 16px;
}

.note-add-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.note-add {
  background-color: inherit;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s;
  border: 1px solid #cccccc80;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  position: relative;
}

.note-title-input {
  width: 90%;
  height: 32px;
  font-size: 16px;
  margin-bottom: 8px;
  color: #ffffff;
}

.note-title-input::placeholder,
.note-content-input::placeholder {
  color: #cccccc;
  font-weight: bold;
}

.note-title-input-light::placeholder,
.note-content-input-light::placeholder {
  color: #868686;
  font-weight: bold;
}

.note-content-input {
  font-size: 15px;
  max-height: 200px;
  min-height: 50px;
  width: 100%;
  margin-bottom: 8px;
  color: #ffffff;
}

.note-title-input-light,
.note-content-input-light {
  color: inherit;
}

.note-add-actions {
  display: flex;
  justify-content: space-between;
}

.note-action {
  margin-left: 4px;
}

.icon {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 99px;
  padding: 3px 4px;
}

.star-icon-action {
  position: absolute;
  top: 8px;
  right: 8px;
}

.star-icon {
  position: absolute;
  right: 16px;
}

.icon:hover,
.note-btn:hover {
  background-color: rgb(95, 95, 95);
}

.icon-light:hover,
.note-btn-light:hover {
  background-color: rgb(185, 185, 185);
}

.note-btns {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.note-btn {
  padding: 6px 20px;
  font-size: 14px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  font-weight: bold;
  color: #ffffff;
}

.note-btn-light {
  color: inherit;
}

.material-icon-white {
  color: #ffffff;
}

@media screen and (min-width: 400px) {
  /* .note {
    width: 50%;
  } */
}
@media screen and (min-width: 720px) {
  /* .note {
    width: 33.3%;
  } */
  .note-add {
    width: 50%;
  }
}
@media screen and (min-width: 960px) {
  /* .note {
    width: 25%;
  } */
}

.note-inner {
  background-color: inherit;
  min-height: 4em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s;
  border: 1px solid #cccccc80;
  border-radius: 8px;
  padding: 8px;
  position: relative;
}

.note:hover .note-inner {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.modale:before {
  content: '';
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.opened:before {
  display: block;
}

.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-dialog {
  background: #282c34;
  border: 1px solid #cccccc80;
  border-radius: 8px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-dialog-light {
  background-color: #f5f5f5;
}

.modal-content {
  position: relative;
  padding: 32px;
}

.modal-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.note-add-unfocussed {
  padding: 8px;
  cursor: text;
  font-weight: bold;
  flex: 9;
}

.note-add-unfocussed-dark {
  color: #cccccc;
}
