.search-input {
  width: 90%;
  padding: 2px 4px;
  height: 48px;
  font-size: 16px;
}

.search-component {
  display: flex;
  width: 100%;
  background-color: #666666;
  border-radius: 8px;
}

.search-icon {
  align-self: center;
  margin: 0px 8px;
}
